<div class="row">
  <div class="col-md-12">
    <div name="content">
        <div class="input-group" style="margin-bottom:5px;">
            <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="filterBy">
            <span class="input-group-addon glyphicon glyphicon-search" style="top:0;" aria-hidden="true"></span>
        </div>  
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#book of books | booksFilter: filterBy" (click)="onSelect(book)" [class.info]="book === selectedBook">
                    <td>
                        {{book.bookInfo.title}} 
                    </td>
                    <td>
                        {{book.bookInfo.author}} 
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
  </div>
</div>