<div class="row">
  <div class="col-md-12">
    <div name="content">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Firstname
                    </td>
                    <td>
                        Lastname
                    </td>
                    <td>
                        Status
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students" (click)="onSelect(student)" [class.info]="student === selectedStudent">
                    <td>
                        {{student.id}} 
                    </td>
                    <td>
                        {{student.firstname}} 
                    </td>
                    <td>
                        {{student.lastname}} 
                    </td>
                    <td>
                        {{student.status}} 
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
  </div>
</div>
<div class="row bottomBar" style="height:10%;">
  <div name="action" class="divLineTop" style="padding-top:10px">
    <a class="btn btn-default" [ngClass]="{disabled: isDisabled}" (click)="issueBook()" >Issue Book</a>
  </div>
</div>