<div class="row">
  <div class="col-md-12">
    <div name="content">
      <form>
        <div class="form-group">
          <label for="bookInput">{{_ressources.getLangString('book')}}</label>
          <input type="text" class="form-control" id="bookInput" [(ngModel)]="book" placeholder="ISBN">
        </div>
        <div class="form-group">
          <label for="studentInput">{{_ressources.getLangString('student')}}</label>
          <input type="text" class="form-control" id="studentInput" [(ngModel)]="student" placeholder="Student">
        </div>
        <div class="form-group">
          <label for="untilInput">{{_ressources.getLangString('until')}}</label>
          <input type="text" class="form-control" id="untilInput" [(ngModel)]="until">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row bottomBar" style="height:10%">
  <div name="action" class="divLineTop borderPrimary" style="padding-top:10px">
    <a class="btn btn-default" [ngClass]="{disabled: isDisabledLendBook}" (click)="lendBook()">{{_ressources.getLangString('lendBook')}}</a>
  </div>
</div>