<div class="row">
  <div class="col-md-12">
    <div name="content" *ngIf="!profile.getProfile().displayProperties.isMobile || (profile.getProfile().displayProperties.isMobile && !selectedBook)">
        <search-component [searchSpace]="advancedSearchSpace" [title]="'Search'" (onFilterUpdate)="filterUpdated($event)"></search-component>
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <thead>
                <tr>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        ISBN
                    </th>
                    <th>
                        {{_resources.getLangString('title')}}
                    </th>
                    <th>
                        {{_resources.getLangString('author')}}
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{_resources.getLangString('status')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#book of books| booksFilter: filterBy" (click)="onSelect(book)" [class.info]="book === selectedBook">
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{book.bookInfo.isbn}} 
                    </td>
                    <td>
                        {{book.bookInfo.title}} 
                    </td>
                    <td>
                        {{book.bookInfo.author}} 
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{book.status}} 
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div *ngIf="profile.getProfile().displayProperties.isMobile && selectedBook" [ngClass]="profile.getProfile().displayProperties.hideOnDesktop">
        <div style="margin-bottom:5px">
            <button type="button" class="btn btn-default" (click)="unselectBook()"> 
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{_resources.getLangString('back')}}
            </button>          
        </div>
        <div>
            <table [ngClass]="profile.getProfile().displayProperties.tableClass">
                <tr>
                    <th>
                        ISBN
                    </th>
                    <td>
                        {{selectedBook.bookInfo.isbn}}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{_resources.getLangString('title')}}
                    </th>
                    <td>
                        {{selectedBook.bookInfo.title}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        {{_resources.getLangString('author')}}
                    </th>
                    <td>
                        {{selectedBook.bookInfo.author}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        {{_resources.getLangString('status')}}
                    </th>
                    <td>
                        {{selectedBook.status}} 
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
<div class="row bottomBar" style="height:10%">
  <div name="action" class="divLineTop borderPrimary" style="padding-top:10px">
    <a class="btn btn-default" [ngClass]="{disabled: isDisabledIssueBook}" *ngIf="authService.isStudent()" (click)="reserveBook()">{{_resources.getLangString('reserveBook')}}</a>
    <a class="btn btn-default" [ngClass]="{disabled: isDisabledIssueBook}" *ngIf="authService.isStaff()" (click)="issueBook()">{{_resources.getLangString('issueBook')}}</a>
    <a class="btn btn-default" [ngClass]="{disabled: isDisabledReturnBook}" *ngIf="authService.isStaff()" (click)="returnBook()">{{_resources.getLangString('returnBook')}}</a>
  </div>
</div>