<div class="row">
  <div class="col-md-12">
    <div name="content">
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <tr>
                <th style="background-color:#EEE">
                    ID
                </th>
                <td>
                    {{student.id}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    Firstname
                </th>
                <td>
                    {{student.firstname}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    Lastname
                </th>
                <td>
                    {{student.lastname}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    Status
                </th>
                <td>
                    {{student.status}}
                </td>
            </tr>
        </table>
        <h3>Lent Books:</h3>
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <thead>
                <tr>
                    <th>
                        ISBN
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        Author
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        Title
                    </th>
                    <th>
                        Until
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lending of bookLendings" (click)="onSelect(lending)" [class.info]="lending === selectedLending">
                    <td>
                        {{lending.book.bookInfo.isbn}}
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{lending.book.bookInfo.author}}
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{lending.book.bookInfo.title}}
                    </td>
                    <td>
                        {{lending.until}}
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
  </div>
</div>
<div class="row bottomBar" style="height:10%;">
  <div name="action" class="divLineTop borderPrimary" style="padding-top:10px">
  </div>
</div>