<div class="row">
  <div class="col-md-12">
    <div name="content">
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <tr>
                <th style="background-color:#EEE">
                    ID
                </th>
                <td>
                    {{student.id}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    {{_resources.getLangString('firstname')}}
                </th>
                <td>
                    {{student.firstname}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    {{_resources.getLangString('lastname')}}
                </th>
                <td>
                    {{student.lastname}}
                </td>
            </tr>
            <tr>
                <th style="background-color:#EEE">
                    {{_resources.getLangString('status')}}
                </th>
                <td>
                    {{student.status}}
                </td>
            </tr>
        </table>
        <h3>{{_resources.getLangString('lent')}}:</h3>
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <thead>
                <tr>
                    <th>
                        ISBN
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{_resources.getLangString('author')}}
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{_resources.getLangString('title')}}
                    </th>
                    <th>
                        {{_resources.getLangString('until')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lending of bookLendings" (click)="onSelect(lending)" [class.info]="lending === selectedLending">
                    <td>
                        {{lending.book.bookInfo.isbn}}
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{lending.book.bookInfo.author}}
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{lending.book.bookInfo.title}}
                    </td>
                    <td>
                        {{lending.until}}
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
  </div>
</div>