<div class="row">
  <div class="col-md-12">
    <div name="content" *ngIf="!profile.getProfile().displayProperties.isMobile || (profile.getProfile().displayProperties.isMobile && !selectedStudent)">
        <search-component [searchSpace]="advancedSearchSpace" [title]="'Search'" (onFilterUpdate)="filterUpdated($event)"></search-component>   
        <table [ngClass]="profile.getProfile().displayProperties.tableClass">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{_resources.getLangString('firstname')}}
                    </th>
                    <th>
                        {{_resources.getLangString('lastname')}}
                    </th>
                    <th [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{_resources.getLangString('status')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#student of students | studentsFilter: filterBy" (click)="onSelect(student)" [class.info]="student === selectedStudent">
                    <td>
                        {{student.id}} 
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{student.firstname}} 
                    </td>
                    <td>
                        {{student.lastname}} 
                    </td>
                    <td [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
                        {{student.status}} 
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
  </div>
</div>
<div class="row bottomBar" style="height:10%;">
  <div name="action" class="divLineTop borderPrimary" style="padding-top:10px">
      <div [ngClass]="profile.getProfile().displayProperties.hideOnMobile">
        <a class="btn btn-default" [ngClass]="{disabled: isDisabled}" (click)="viewDetails()" >{{_resources.getLangString('viewDetails')}}</a>
      </div>
  </div>
</div>